.hero {
  width: 100vw;
  padding: 150px 75px 50px 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgb(2, 5, 10);
  color: #ffffff;

  h1 {
    font-size: 55px;
    line-height: 70px;
    width: 500px;
    text-align: center;

    @media (max-width: 600px) {
      width: 90vw;
      font-size: 40px;
      line-height: 60px;
      text-align: center;
    }
  }
  p {
    font-size: 18px;
    line-height: 30px;
    width: 500px;
    text-align: center;

    span {
      color: #f92f90;
    }

    @media (max-width: 600px) {
      font-size: 20px;
      width: 90vw;
      text-align: center;
    }
  }

  @media (max-width: 600px) {
    padding: 100px 10px 50px 10px;
    align-items: center;
  }
}

.cards {
  background-color: rgb(20, 20, 20);
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 65px;
  gap: 20px;

  .card {
    width: 32%;
    height: auto;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;

    .image1,
    .image2,
    .image3 {
      width: 100%;
      height: 50vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 10px;
    }

    .image1 {
      background-image: url("/news1.jpg");
    }

    .image2 {
      background-image: url("/news2.jpg");
    }

    .image3 {
      background-image: url("/news3.jpg");
    }
    .content {
      color: #fff;
      width: 100%;
      padding: 10px 30px;
      h2 {
        font-size: 28px;
        line-height: 35px;
        overflow: hidden; /* Hides any content that overflows the container */
        display: -webkit-box; /* Enables the flexible box layout for line clamping */
        -webkit-line-clamp: 2; /* Truncates the text after 3 lines */
        -webkit-box-orient: vertical;
      }
      h2:hover {
        color: #f92f90;
      }
      h3 {
        font-size: 16px;
        line-height: 25px;
        display: flex;

        div:first-child {
          margin-right: 25px;
          @media (max-width: 600px) {
            margin-right: 50px;
          }
        }
      }
      .link {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        border-top: 1px solid #584b44;
        text-decoration: none;
        font-size: 20px;
        line-height: 25px;
        color: #fff;
        font-weight: 600;

        div:last-child {
          font-size: 30px;
        }
      }
      .link:hover {
        color: #f92f90;
      }

      @media (max-width: 600px) {
        width: 100%;
      }
    }
    @media (max-width: 600px) {
      width: 100vw;

      .image1,
      .image2,
      .image3{
        height: 40vh;
      }
    }
  }
  @media (max-width: 600px) {
      padding: 50px 10px;
    }
}
